spring:
  batch:
    initialize-schema: always
  datasource:
    driver-class-name: org.postgresql.Driver
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    url: ${INTEGRATION_DATABASE_URL}
    continue-on-error: true
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    jpa:
      properties:
        hibernate:
          dialect: org.hibernate.dialect.MySQLDialect
      show-sql: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: <login user to smtp server>
    password: <login password to smtp server>
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
junit:
  jupiter:
    testclass:
      order:
        default: org.junit.jupiter.api.ClassOrderer$OrderAnnotation

