# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      INTEGRATION_DATABASE_URL: ${{ secrets.databaseUrl }}
      POSTGRES_PASSWORD: ${{ secrets.databasePassword }}
      POSTGRES_USER: ${{ secrets.databaseUser }}
      TEST_DATABASE_URL: ${{ secrets.databaseUrl }}
      FIREBASE_ENCRYPT_KEY: ${{ secrets.FIREBASE_ENCRYPT_KEY }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'adopt'
        cache: gradle
    - name: Descriptografar credenciais do Firebase
      run: ./decrypt.sh
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Install Firebase CLI
      run: curl -sL https://firebase.tools | bash
    - name: Execute Tests
      run: firebase emulators:exec --only auth --project turma-de-elite-app './gradlew test'
